<h4>Login:</h4>

<div class="login_form">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <%= f.submit "Login", class:"btn" %>
  <% end %>
</div>
<br>
</br>
<h5>Not a registered user?</h5>
<%= link_to "Create an account", new_user_path %>
