<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Update Quantity</th>
      <th>Remove Item</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.image.url(:thumb) %></td>
      <td><%= item.name.capitalize %></td>
      <td><%= item.description %></td>
      <td>$<%= item.price %></td>
      <td><%= @cart.count_of(item.id) %></td>
      <td><%= form_tag(cart_item_path(item), method: "patch") do %>
       <%= label_tag :quantity %>
       <%= text_field_tag :quantity %>
       <%= submit_tag "Update Quantity" %>
      <% end %>
      </td>
      <td><%= link_to "X", cart_item_path(item.id), method: :delete, id:"Remove Item" %></td>
    </tr>
    <% end %>
    <tr>
      <td class="center"><strong>Total:</strong></td>
      <td></td>
      <td></td>
      <td class="left"> $<%= @total %> </td>

    </tr>
  </tbody>
</table>
