<table class="center-align">
  <thead>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col width="130">
    <col class="center-align">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Update Quantity</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.image.url(:thumb) %></td>
      <td><%= item.name.capitalize %></td>
      <td><%= item.description %></td>
      <td>$<%= item.price %></td>
      <td><%= @cart.count_of(item.id) %></td>
      <td>$<%= item.price * @cart.count_of(item.id) %></td>
      <td><%= form_tag(cart_item_path(item), method: "patch") do %>
       <%= label_tag :quantity %>
       <%= number_field_tag :quantity %>
       <%= submit_tag "Update" %>
      <% end %>
      </td>
      <td class="center-align"><%= link_to "Remove Item", cart_item_path(item.id), method: :delete, id:"Remove Item" %></td>
    </tr>
    <% end %>
    <tr>
      <td class="center"><strong>Total:</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="left"> $<%= @total %> </td>

    </tr>
  </tbody>
</table>

<%= link_to "Check Out", orders_path, method: :post, class: "btn" %>
