<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.image.url %></td>
      <td><%= item.name.capitalize %></td>
      <td><%= item.description %></td>
      <td>$<%= item.price %></td>
      <td><%= @cart.count_of(item.id) %></td>
    </tr>
    <% end %>
    <tr>
      <td><strong>Total:</strong></td>
    </tr>
  </tbody>
</table>
