<h1>Admin Dashboard</h1>

<h2>Welcome, <%= @user.username.capitalize %>!</h2><br>
<%= link_to "Edit Account Info", edit_user_path(@user) %>
<h3>Orders Status</h3>
<table class="by-status">
  <thead>
    <tr>
      <th>Ordered</th>
      <th>Paid</th>
      <th>Canceled</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Order.ordered.count %></td>
      <td><%= Order.paid.count %></td>
      <td><%= Order.canceled.count %></td>
      <td><%= Order.completed.count %></td>
    </tr>
    <tr>
      <td><%= link_to "View Ordered", admin_dashboard_path('ordered'), :order_status => 'ordered' %></td>
      <td><%= link_to "View Paid", admin_dashboard_path('paid'), :order_status => 'paid' %></td>
      <td><%= link_to "View Canceled", admin_dashboard_path('canceled') %></td>
      <td><%= link_to "View Completed", admin_dashboard_path('completed') %></td>
    </tr>
  </tbody>
</table>
<h3>All Orders</h3>
<table class="all-orders">
      <thead>
        <tr>
            <th class="center-align">Order</th>
            <th>Placed On</th>
            <th>Total Price</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr id="order_<%= order.id %>">
          <td class="center-align"><%= order.id %></td>
          <td><%= order.created_at.time.strftime("%b %-d, %Y %-l:%M %p") %></td>
          <td>$<%= order.total_price %></td>
          <td><%= order.current_status %></td>
          <% if order.current_status == "paid" || order.current_status == "completed" %>
            <td><%= link_to "View Order", order_path(order) %> || <%= link_to "Cancel", order_path(order), method: :patch, :order_status => 'canceled' %></td>
          <% else %>
            <td><%= link_to "View Order", order_path(order) %></td>
          <% end %>
        </tr>
  <% end %>
      </tbody>
    </table>
