<h1>Admin Dashboard</h1>

<h4 class="grey-text">Welcome, <%= current_user.username.capitalize %>!</h4>
<br>
<div class="center">
<%= link_to "Edit Account", edit_user_path(current_user), class:"btn indigo lighten-3 nudge-left"%>
<%= link_to "Add items to store", new_admin_item_path, class: "btn blue-grey darken-1 nudge-right" %>
<br>
<br>
<%= link_to "Send Daily Deal Email to All Registered Users", "/admin/dashboard", method: :post, class: "btn"  %>
</div>
<h3>Overview</h3>
<table class="by-status centered">
  <thead>
    <tr>
      <th>Ordered</th>
      <th>Paid</th>
      <th>Canceled</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Order.ordered.count %></td>
      <td><%= Order.paid.count %></td>
      <td><%= Order.canceled.count %></td>
      <td><%= Order.completed.count %></td>
    </tr>
    <tr>
      <td><%= link_to "View Ordered", admin_dashboard_path('ordered'), :order_status => 'ordered', class: "btn orange" %></td>
      <td><%= link_to "View Paid", admin_dashboard_path('paid'), :order_status => 'paid', class: "btn light-blue lighten-1" %></td>
      <td><%= link_to "View Canceled", admin_dashboard_path('canceled'), class: "btn canceled red lighten-1" %></td>
      <td><%= link_to "View Completed", admin_dashboard_path('completed'), class: "btn green lighten-1" %></td>
    </tr>
  </tbody>
</table>
<br>
<br>
<h3>All Orders</h3>
<table class="all-orders centered">
      <thead>
        <tr>
            <th class="center-align">Order</th>
            <th>Placed On</th>
            <th>Total Price</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @orders.nil? || @orders == [] %>
          <p>You have no orders</p>
        <% else @orders.each do |order| %>
        <tr id="order_<%= order.id %>">
          <td class="center-align"><%= order.id %></td>
          <td><%= order.created_at.time.strftime("%b %-d, %Y %-l:%M %p") %></td>
          <td>$<%= order.total_price %></td>
          <td><div class="chip <%= order.current_status %>"><%= order.current_status %></div></td>
          <% if order.current_status == "completed" %>
            <td><%= link_to "View Order", order_path(order) %> || <%= link_to "Cancel", order_path(order, :order_status => 'canceled'), method: :patch, class: "cancel-link" %></td>
          <% elsif order.current_status == "ordered" %>
            <td><%= link_to "View Order", order_path(order) %> || <%= link_to "Mark as paid", order_path(order, :order_status => 'paid'), method: :patch %></td>
          <% elsif order.current_status == "paid" %>
            <td><%= link_to "View Order", order_path(order) %> || <%= link_to "Mark as complete", order_path(order, :order_status => 'completed'), method: :patch, class: "complete-link" %> || <%= link_to "Cancel", order_path(order, :order_status => 'canceled'), method: :patch, class: "cancel-link" %></td>
          <% else %>
            <td><%= link_to "View Order", order_path(order) %></td>
          <% end %>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
