<h2><%= params[:id].capitalize %></h2>
  <table>
        <thead>
          <tr>
              <th class="center-align">Order Number</th>
              <th>Placed On</th>
              <th>Status</th>
              <th></th>
          </tr>
        </thead>

        <tbody>

    <% @orders.each do |order| %>
          <tr>
            <td class="center-align"><%= order.id %></td>
            <td><%= order.created_at.time.strftime("%b %-d, %Y %-l:%M %p") %></td>
            <td><%= order.current_status %></td>
            <td><%= link_to "View Order", order_path(order) %></td>
          </tr>
    <% end %>
        </tbody>
      </table>
