<h1>Admin Dashboard</h1>

<h2>Welcome, <%= @user.username.capitalize %>!</h2>
<h3>All Orders</h3>
<table>
      <thead>
        <tr>
            <th class="center-align">Orders</th>
            <th>Placed On</th>
            <th>Total Price</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
  <% @orders.each do |order| %>
        <tr>
          <td class="center-align"><%= order.id %></td>
          <td><%= order.created_at.time.strftime("%b %-d, %Y %-l:%M %p") %></td>
          <td><%= order.total_price %></td>
          <td><%= order.current_status %></td>
          <td><%= link_to "View Order", order_path(order) %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
