<h3>Create a new account</h3>

<%= form_for(User.new) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Create Account", class: "btn" %>
<% end %>
