<h5>Order Number: <%= @order.id %></h5>
<h6>Order Status: <%= @order.current_status %></h6>
<h6>Submitted on: <%= @order.created_at.time.strftime("%b %-d, %Y %-l:%M %p") %></h6>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <% @order.items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.image.url(:thumb) %></td>
      <td><%= link_to item.name.capitalize, item_path(item) %></td>
      <td>$<%= item.price %></td>
      <td><%= @cart.count_of(item.id) %></td>
      <td>$<%= item.price * @cart.count_of(item.id) %></td>
    </tr>
    <% end %>
    <tr>
      <td class="center"><strong>Total:</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="left"> $<%= @total %> </td>

    </tr>
  </tbody>
</table>
