<h2 class="section">Today's Gnarliest Deal!</h2>

<h3>Item: <%= @featured_item.name %></h3>
<div class="section">
<div class="row center">
      <div class="col s8">
        <div class="row">
           <div class="col m12 m7">
             <div class="card">
               <div class="card-image aligh-center">
                 <%= image_tag @featured_item.image.url %>
                 <span class="card-title black"><%= @featured_item.name.upcase %></span>
               </div>
               <div class="card-content">
                 <h4>Price: $<%= @featured_item.price %></h4>
               </div>
             </div>
           </div>
         </div>

      </div>

      <div class="col offset-s1 s3 center-align">
        <div class="center-align">
        <h3 class="grey-text center-align">Details</h3>
        <h4>Brand: <%= @featured_item.brand %></h4>
        <h6><%= @featured_item.description.capitalize %></h6>
        <% if current_admin? %>
        <%= link_to "Notify Users", admin_dashboard_index_path, class: "btn center-align orange" %>
        <% else %>
          <%= link_to "Add To Cart", cart_items_path(item_id: @featured_item.id), method: :post, class: "btn center-align" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
