<h1><%= @item.name %></h1>

<div class="row center">
  <div class="col s6">
    <div class="row">
       <div class="col m12 m7">
         <div class="card">
           <div class="card-image aligh-center">
             <%= image_tag @item.image.url %>
             <br>
             <br>
             <br>
             <span class="card-title black"><%= @item.name.upcase %></span>
           </div>
           <div class="card-content">
             <p>Price: $<%= @item.price %></p>
           </div>
         </div>
       </div>
     </div>
  </div>

  <div class="col offset-s1 s5 center-align">
    <div class="center-align">
    <h3 class="grey-text center-align">Details</h3>
    <h4>Brand: <%= @item.brand %></h4>
    <h6><%= @item.description.capitalize %></h6>
    <br>
    <%= link_to "Add To Cart", cart_items_path(item_id: @item.id),
                               method: :post, class: "btn center-align" %>
    </div>
  </div>
</div>
