<h1><%= @category.title.capitalize %></h1>

<div class="row items">
  <% @category.items.each do |item| %>
  <div class="col m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag item.image.url, class: "activator" %>
      </div>
      <div class="card-content" id="item_<%= item.id %>">
        <span class="card-title item-title activator grey-text text-darken-4"><%= item.name.upcase %><i class="material-icons right">more_vert</i></span>
        <p>Price: $<%= item.price %></p>
        <%= link_to 'View Item', admin_item_path(item), class: "btn" %>
        <%= link_to "Remove Item", admin_item_path(item), method: :delete, class: "add-to-cart" %>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description: <i class="material-icons right">close</i></span>
        <p><%= item.description.capitalize %></p>
        <p>Price: $<%= item.price %></p>
      </div>
    </div>
  </div>

  <% end %>
</div>
