<!DOCTYPE html>
<html>
<head>
  <title>GnarPow</title>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Covered+By+Your+Grace|Walter+Turncoat|Tillana|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/nav" %>

<% if current_page?("/") %>
  <%= yield %>
<% else %>
<div class="container push-right">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, sanitize(msg), class: "flash_#{type}" %>
        <body onload="Materialize.toast('<%=msg%>', 1500)">
    <% end %>
  <%= yield %>
</div>
<% end %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
 <%= render "partials/footer" %>
</body>
</html>
